/* ===========================================
                Grid Control
============================================== */
.gvUnused
{
	
}
.gvUnused a:link    { color: #808080; text-decoration: underline; }
.gvUnused a:visited { color: #808080; text-decoration: underline; }
.gvUnused a:hover   { color: #DB4100; text-decoration: underline; }
.gvUnused a:active  { color: #DB4100; text-decoration: underline; }
