/* ===========================================
                Body
============================================== */
body
{
    background-color: #FFFFFF;
    margin: 0px;
	font:"細明體";
	font-size: 12px; 
}
/* ===========================================
                Input Control
============================================== */
.cv
{
    overflow: visible;
    white-space: nowrap;
    padding: 0px;
    text-align: left;
}

.inp, .inp > option
{
    font-size: 12px;
    border: 1px solid #bbb;
    background: #fff;
    padding: 1px;
}
.inp[StyleStatus="Disable"], .inp[StyleStatus="Disable"] > option
{
    background-color: #f6f5ea;
    border: 1px solid #c9c7ba;
    color: #999999;
}
.inp[StyleStatus="Invalid"], .inp[StyleStatus="Invalid"] > option
{
    padding: 1px;
    border: 1px solid #B50000;
}

.inp:focus, .inp:focus > option
{
    padding: 1px;
   /* background-color: #feffcc; */ 
}

/* ===========================================
                Option Control
============================================== */
.opt, .opt > option
{
    font-size: 12px;
    background: #fff;
    padding: 1px;
}
.opt[StyleStatus="Disable"], .opt[StyleStatus="Disable"] > option
{
    background-color: #f6f5ea;
    border: 1px solid #c9c7ba;
    color: #999999;
}
.opt[StyleStatus="Invalid"], .opt[StyleStatus="Invalid"] > option
{
    border: 1px solid #B50000;
}
.opt:focus, .opt:focus > option
{
    height: 20px;
    padding: 1px;
   /* background-color: #feffcc; */
}

/* ===========================================
                Button Control
============================================== */
.btn
{
	background-color: #f6f5ea;
	height:21px;
	color:#000;
	background-image:url(../Image/001.jpg);
	border:none;
	/*margin:0px 20px 0px 0px;*/
}
.btn + .btn
{
	margin:0px 0px 0px 10px;
}

.btn:hover
{
}
.btn[StyleStatus="Disable"]
{
}
a
{
}
a:visited
{
}
a:hover
{
}
/* ===========================================
                Grid Control
============================================== */
.t  
{   border: 1px solid #333333;	
}
.gv
{
    font-size: 12px; 
	color: #333333;
	/*background-color:#666666;	*/
	background-color: #FFFFFF;
}
.gv th , .gv td
{
	border: 1px solid #333333; 
	border-collapse:collapse;
	height: 22px;
}
.gv a:link    { color: #333333; text-decoration: underline; }
.gv a:visited { color: #333333; text-decoration: underline; }
.gv a:hover   { color: #DB4100; text-decoration: underline; }
.gv a:active  { color: #DB4100; text-decoration: underline; }
.gvHead
{    
    font-weight: bold; 
	background-color: #BBD9F3; 
	padding: 3px 10px 3px 10px;
}
.gvFoot
{
    background-color: #83c2e0;
}
.gvRow { font-family: "Verdana", "新細明體"; font-size: 12px; color: #333333; line-height: 24px; background-color: #FFFFFF; padding: 3px 10px 3px 10px;}
.gvRow a:link    { color: #37659B; text-decoration: underline; }
.gvRow a:visited { color: #37659B; text-decoration: underline; }
.gvRow a:hover   { color: #DB4100; text-decoration: underline; }
.gvRow a:active  { color: #DB4100; text-decoration: underline; }
.gvAlternate { font-family: "Verdana", "新細明體"; font-size: 12px; color: #333333; line-height: 24px; background-color: #F7F7F7; padding: 3px 10px 3px 10px;}
.gvAlternate a:link    { color: #37659B; text-decoration: underline; }
.gvAlternate a:visited { color: #37659B; text-decoration: underline; }
.gvAlternate a:hover   { color: #DB4100; text-decoration: underline; }
.gvAlternate a:active  { color: #DB4100; text-decoration: underline; }
.gvSelect
{
	  background-color: #fef9c7;
	  /*font-weight:bold;*/
}
.gvSelect a:link    { color: #37659B; text-decoration: underline; }
.gvSelect a:visited { color: #37659B; text-decoration: underline; }
.gvSelect a:hover   { color: #DB4100; text-decoration: underline; }
.gvSelect a:active  { color: #DB4100; text-decoration: underline; }
/* ===========================================
                PagePaging
============================================== */
.PagePaging
{
    font-size: 12px;
}

PagePaging .inp, PagePaging .inp > option
{
    font-size: 12px;
    border: 1px solid #bbb;
    background: #fff;
    padding: 3px;
}
PagePaging .inp[StyleStatus="Disable"],PagePaging .inp[StyleStatus="Disable"] > option
{
    background-color: #f6f5ea;
    border: 1px solid #c9c7ba;
    color: #999999;
}
PagePaging .inp[StyleStatus="Invalid"],PagePaging .inp[StyleStatus="Invalid"] > option
{
    padding: 3px;
    border: 1px solid #B50000;
}

PagePaging .inp:focus,PagePaging .inp:focus > option
{
    padding: 3px;
    background-color: #feffcc;
}
.PageButtons
{
    font-size: 12px;
}
.PageButtons td { vertical-align:middle;}
.PageButtons a:link    { font-size: 12px; text-decoration: none; color:#0066cc;}
.PageButtons a:hover   { font-size: 12px; text-decoration: underline; color:#0066cc;}
.PageButtons a:active  { font-size: 12px; text-decoration: underline; color:#0066cc;}

.PageButtons .Menu{ font-size: 12px; text-decoration: none; color:#0066cc;}
.PageButtons .MenuHover{font-size: 12px; text-decoration: underline; color:#0066cc;}

/* ===========================================
                Tab Control
============================================== */
.ajax__tab_tab
{
    font-size: 15px;
}
.ajax__tab_tab:hover
{
    font-size: 15px;
}
.ajax__tab_panel
{
    font-size: 15px;
}

/* ===========================================
                Pattern(查詢、維護、開窗共用)
============================================== */

.Pattern
{
    background-color: #8EC0EC;
    color: #333333;
    text-align: left;
}
.Pattern .Head
{   padding: 0px 7px 0px 7px;
    FONT-WEIGHT: bold; 
	FONT-SIZE: 10pt; 
	BACKGROUND-IMAGE: url(../Image/gb_Title.gif); 
	COLOR: #333;
	height:25px;
}
.Pattern .Label
{   font-size: 12px; 
	color: #333333; 
	background-color: #BBDCF7; 
	padding: 3px 10px 3px 10px;
}
.Pattern .Context
{   font-size: 12px; 
	color: #666666; 
	background-color: #E3F3FF; 
	padding: 3px 10px 3px 10px;
}
.Pattern .Foot
{
    background-color: #E3F3FF;
    text-align: center;
    height: 30px;
}
.PatternResult
{
    font-size: 12px;
    background-color: #FFFFFF;
    color: #333333;
    text-align: left;
}
.PatternResult .Head
{
    background: rgb(59,103,158); /* Old browsers */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=1 );
    color: #FFFFFF;
    padding-left: 12px;
    height: 25px;
    text-align: left;
}
.PatternResult .Category
{
    font-weight: bold;
    background-color: #83c2e0;
    height: 25px;
    text-align: center;
}
.PatternResult .SubCategory
{
    text-align: center;
    background-color: #A5D1D1;
    height: 25px;
    text-align: center;
}
.PatternResult .Label
{
    background-color: #D3E9F3;
    text-align: right;
    height: 25px;
}
.PatternResult .Context
{
    border-bottom: dotted 1px #abdcf2;
    background-color: #ffffff;
    height: 25px;
}
.PatternResult .Foot
{
    background-color: #BCDDED;
    text-align: center;
    height: 30px;
}
/* ===========================================
         ModalPopupExtender Control
============================================== */
.modalBackground
{
    background-color:#333333;
    filter: alpha(opacity=75);
    opacity: 0.5;
}
.modalWindow
{
    background-color: White;
}
.modalHead
{
     padding: 0px 7px 0px 7px;
    FONT-WEIGHT: bold; 
	FONT-SIZE: 10pt; 
	BACKGROUND-IMAGE: url(../Image/gb_Title.gif); 
	COLOR: #333;
	height:25px;
	/*
    background: #99CCFF;
    padding-left: 5px;
    padding-right: 5px;*/
}
.modalContext
{
    background-color: White;
    height: 100%;
    border: 3px solid #99CCFF;
    padding: 5px;
}
.modalb1f
{
    font-size: 1px;
    overflow: hidden;
    display: block;
    background: #99CCFF;
    border-right: 1px solid #99CCFF;
    border-left: 1px solid #99CCFF;
    height: 1px;
    margin: 0 5px;
    background: #99CCFF;
}
.modalb2f
{
    font-size: 1px;
    overflow: hidden;
    display: block;
    background: #99CCFF;
    border-right: 1px solid #99CCFF;
    border-left: 1px solid #99CCFF;
    height: 1px;
    margin: 0 3px;
    border-right-width: 2px;
    border-left-width: 2px;
}
.modalb3f
{
    font-size: 1px;
    overflow: hidden;
    display: block;
    background: #99CCFF;
    border-right: 1px solid #99CCFF;
    border-left: 1px solid #99CCFF;
    height: 1px;
    margin: 0 2px;
}
.modalb4f
{
    font-size: 1px;
    overflow: hidden;
    display: block;
    background: #99CCFF;
    border-right: 1px solid #99CCFF;
    border-left: 1px solid #99CCFF;
    height: 2px;
    margin: 0 1px;
}
